<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CSConnectionString" connectionString="SERVER=amc-mysql.americollect.com;DATABASE=CSWorker;UID=CSWorker;PWD=e2V8JVv29PBvGZ6e;"/>
    <add name="CSConnectionString_ODBC" connectionString="DRIVER={MySQL ODBC 5.1 Driver};SERVER=amc-mysql.americollect.com;DATABASE=CSWorker;UID=CSWorker;PWD=e2V8JVv29PBvGZ6e;"/>
  </connectionStrings>
</configuration>